# Helps Github UI and some editors to work with Skript code
# Note: Eclipse reads its own config, not this file
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = tab
indent_size = 4
